<footer>
  <div class="container is-fluid">
    <div class="content">
      <div>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/in/brandon-knapp-259a8566" target="_blank" rel="noopener">
              <fa-icon [icon]="linkedin"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://github.com/brandonwk" target="_blank" rel="noopener">
              <fa-icon [icon]="github"></fa-icon>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/knappdevelopment" target="_blank" rel="noopener">
              <fa-icon [icon]="facebook"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
      <div>
      </div>
      <div>
        <ul class="site">
          <li>
            <span routerLink="/services">Services</span>
          </li>
          <li>
            <span routerLink="/works">Our Work</span>
          </li>
          <li>
            <span routerLink="/contact">Contact</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
