<header>
  <nav class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand is-marginless">
        <a class="navbar-item" href="javascript:void(0);" routerLink="/">
          <img src="../../../assets/Knappdevelopment-color.png" alt="Knappdevelopment logo">
          <span>Knappdevelopment</span>
        </a>

        <div class="navbar-burger burger" [class.is-active]="isClassVisible" (click)="isClassVisible = !isClassVisible;">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>

      <div class="navbar-menu"  [class.is-active]="isClassVisible">

        <div class="navbar-end">
          <div class="navbar-item">
            <a routerLink="/services" (click)="isClassVisible = !isClassVisible;">Services</a>
          </div>
          <div class="navbar-item">
            <a routerLink="/works" (click)="isClassVisible = !isClassVisible;">Our work</a>
          </div>
          <div class="navbar-item">
            <a routerLink="/contact" (click)="isClassVisible = !isClassVisible;">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
