.services-page {
  width: 100%;
  height: auto;
  min-height: 100vh;

  .hero {
    width: 100%;
    height: 40vh;
    padding-top: 21vh;
    padding-bottom: 20px;
    background: linear-gradient(180deg, #fff 0, #f4f4f4);
    border-bottom: 1px solid #dce7e7;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;

    span {
      font-size: 2.5rem;
      color: #2c2d2d;
      font-weight: 300;
      line-height: 1.5;
      margin-top: -186px;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
      font-family: serif;
      padding-bottom: 60px;

      @media screen and (max-width: 965px) {
        font-size: 1.5rem;
        width: 90%;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 965px) {
      height: 30vh;
      padding-top: 2vh;
      padding-bottom: 5vh;
    }
  }


  .services-content {
    width: 100%;
    height: auto;
    margin-top: -104px;
    //margin-bottom: 104px; // offset top

    .services-overview {
      width: 85%;
      height: auto;
      border: 1px solid #d6d6d6;
      color: #666;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      background-color: white;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 26px;

      h1 {
        font-size: 1.3rem;
        font-weight: 400;
        color: #333;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 1px;
        color: #666;
        text-align: left;
        word-break: break-word;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        //border: 1px solid red;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          padding: 10px;
          margin: 10px;
          width: calc(100% / 4);

          fa-icon, i {
            font-size: 2.5rem;
            background: linear-gradient(270deg,#f05f40, #ed2c5b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 10px;
          }

          span {
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
          }

          p {
            font-size: .875rem;
            font-weight: normal;
          }

          @media screen and (max-width: 965px) {
            width: 100%;
          }
        }
      }


      @media screen and (max-width: 965px) {
        width: 100%;
      }
    }

    .quote-section {
      width: 80%;
      height: auto;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: flex-start;
      //margin-bottom: 170px;
      margin: auto;
      //margin-top: 30px;
      margin-top: 65px;
      margin-bottom: 75px;

      blockquote {
        background: transparent;
        padding: 10px 0 10px 50px;
        margin: 0;
        position: relative;

        font-size: 14px;
        line-height: 1.2;
        color: #666;

        /*Borders - (Optional)*/
        border-left-style: solid;
        border-left-width: 15px;
        border-left-color: #ed2c5b;

        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        flex-direction: column;

        &::before {
          content: "\201C"; /*Unicode for Left Double Quote*/

          /*Font*/
          font-family: serif;
          font-size: 60px;
          font-weight: bold;
          color: #999;

          /*Positioning*/
          position: absolute;
          left: 10px;
          top:5px;

          @media screen and (max-width: 965px) {
            display: none;
          }
        }

        &::after{
          /*Reset to make sure*/
          content: "";
        }

        h1, p {
          margin-left: 10px;
        }

        h1 {
          text-align: left;
          font-size: 1rem;
          color: #333;
          font-weight: 300;

          span {
            font-weight: 600;
            font-size: 1.2rem;
          }

          @media screen and (max-width: 965px) {
            line-height: 1.75;
          }
        }

        p {
          margin-top: 13px;
          font-size: .9rem;
          line-height: 1.75;
          letter-spacing: 1px;
        }

        @media screen and (max-width: 965px) {
          padding: 0 0 0 0;
          border: none transparent;
        }
      }

      @media screen and (max-width: 965px) {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
      }
    }

    .process {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
      background: #f6f9fa;
      color: darken(#7b8b8e, 10%);

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-top: 50px;
      margin-bottom: 20px;
      padding-top: 80px;
      padding-bottom: 70px;


      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: #333;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 1px;
        color: #666;
        text-align: center;
        word-break: break-word;
      }

      ul {
        //width: 90%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;

        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 27px;

        li {
          width: calc(100% / 4);
          height: auto;
          //border: 1px solid #d6d6d6;
          //box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.1);
          //border: 1px solid crimson;
          margin: 10px;
          //padding: 10px;

          display: flex;
          align-items: flex-start;
          align-content: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          span {
            font-size: 1.1rem;
            text-align: center;
            font-weight: 400;
          }

          p {
            font-size: .875rem;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #666;
            text-align: left;
            word-break: break-word;

            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
          }

          @media screen and (max-width: 965px) {
            width: 100%;
          }
        }

        @media screen and (max-width: 965px) {
          flex-direction: column;
        }
      }

    }

    .cta {
      width: 100%;
      height: auto;
      margin: 0 auto;
      //border-bottom: 1px solid #d6d6d6;
      //background: ;
      //color: darken(#7b8b8e, 10%);

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-top: 50px;
      margin-bottom: 50px;
      padding-bottom: 50px;

      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: #333;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 1px;
        color: #666;
        text-align: center;
        word-break: break-word;
      }

      .successForm {
        min-height: 8vh;
        //margin-top: -40px;
        background-color: white;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        padding: 20px;

        h1 {
          font-size: 1.2rem;
        }

        p {
          font-size: .875rem;
        }
      }

      .form {
        margin-top: 30px;

        form {
          width: 95%;
          height: auto;
          margin: 0 auto;

          padding-top: 10px;
          padding-bottom: 10px;

          input {
            height: 40px;
          }

          button {
            background-color: #ed2c5b;
            width: 110px;
            height: 40px;
            color: #FFFFFF;

            &:hover {
              background-color: darken( #ed2c5b, 7%);
            }
          }

          .is-invalid {
            border: 1px solid #ed2c5b !important;
          }

          .invalid-feedback {
            color:  #ed2c5b;
            font-size: .9rem;
            padding-top: 5px;
            font-style: italic;
          }

        }
      }


    }

    .pricing-section {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
      background: #f6f9fa;
      color: darken(#7b8b8e, 10%);

      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-top: 50px;
      margin-bottom: 20px;
      padding-top: 80px;
      padding-bottom: 70px;


      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        color: #333;
        line-height: 1.3em;
        margin: 0;
        padding-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.75;
        letter-spacing: 1px;
        color: #666;
        text-align: center;
        word-break: break-word;
      }

      .pricing-area {
        margin-top: 46px !important;
        width: 80%;
        margin: 0 auto;

        .pricing-table {

          margin-bottom: 60px;

          .pricing-plan {

            .plan-item {
              background: white;
              border-bottom: .1rem solid #f3f3f3;
              padding: .75em;
              align-content: center;
              text-align: center;
              font-size: .9em;

              i {
                font-size: 1.1rem;
                color: #ed2c5b;
              }
            }

            .plan-price {
              flex-direction: column;
              display: flex;
            }

            .plan-footer {

              .button {
                background-color: #ed2c5b;
                color: #FFF;

                &:hover {
                  background-color: darken(#ed2c5b, 10%);
                }
              }

            }
          }
        }

        .looking {

          width: 80%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          flex-direction: column;

          h2 {
            font-size: 1.3rem;
            font-weight: 400;
            color: #333;
            line-height: 1.3em;
            margin: 0;
            padding-bottom: 15px;
            text-transform: uppercase;
            text-align: center;
          }

          p {
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.75;
            letter-spacing: 1px;
            color: #666;
            text-align: center;
            word-break: break-word;
          }

          button {
            width: 240px;
            height: 39px;
            border-radius: 3px;
            background-color: transparent;
            background: linear-gradient(270deg,#f05f40, #ed2c5b);
            position: relative;
            outline: none;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            text-transform: uppercase;
            border: none;
            transition: all .3s ease;
            color: white;

            margin-top: 30px;

            span {
              color: white;
              transition: all .3s ease;
              z-index: 1;
              font-size: 13px;
              font-weight: 500;
              letter-spacing: .7px;
              padding: 0;
              margin: 0;
            }

            &:before {
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              z-index: -1;
              width: 100%;
              right: 0;
              top: 4px;
              background-color: #5c5d62;
              opacity: .3;
              filter: blur(10px);
            }

            &:after {
              width: 0;
              left: 0;
              top: 0;
              transition: all .3s ease;
              background-color: #fff;
              border-radius: 3px;
              content: "";
              display: block;
              height: 100%;
              position: absolute;
            }

            &:hover {

              span {
                color: #ed2c5b;
                transition: all .3s ease;
                z-index: 1;
              }

              &:after{
                width: 100%;
              }
            }

            @media screen and (max-width: 965px) {
              margin-left: 15%;
              margin-right: 15%;
              width: 70%;
            }
          }
        }

      }

      .selected-plan {
        width: 79%;
        height: auto;
        border: 1px solid #d6d6d6;
        color: #666;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: white;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 26px;
        margin-top: 60px;

        h3 {
          font-size: 1.2rem;
          font-weight: normal;
          text-align: center;

          b {
            font-weight: 500;
            text-decoration: underline;
            color: #ed2c5b;
            font-size: 1.4rem;
            cursor: pointer;
          }
        }

        p {
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 1.75;
          letter-spacing: 1px;
          color: #666;
          text-align: center;
          word-break: break-word;
        }

        form {
          width: 95%;
          height: auto;
          margin: 0 auto;

          padding-top: 10px;
          padding-bottom: 10px;

          margin-top: 25px;
          margin-bottom: 25px;

          input {
            height: 40px;
          }

          button {
            background-color: #ed2c5b;
            width: 110px;
            height: 40px;
            color: #FFFFFF;

            &:hover {
              background-color: darken( #ed2c5b, 7%);
            }
          }

          .is-invalid {
            border: 1px solid #ed2c5b !important;
          }

          .invalid-feedback {
            color:  #ed2c5b;
            font-size: .9rem;
            padding-top: 5px;
            font-style: italic;
          }

        }

      }
    }

    @media screen and (max-width: 965px) {
      margin-top: -40px;
    }
  }


}
