<div class="services-page">
  <div class="hero">
    <div class="container">
      <!--<span>Plans that scale with your company</span>-->
      <span>We believe in a transparent, flexible, and open communication approach to building websites.</span>
    </div>
  </div>

  <div class="services-content">
    <div class="container">

      <div class="services-overview">
        <h1>We provide the following to grow your comapny</h1>

        <ul>
          <li>
            <!--<fa-icon [icon]="design"></fa-icon>-->
            <i class="fal fa-object-ungroup"></i>
            <span>Website Design</span>
          </li>
          <li>
            <i class="fal fa-code-merge"></i>
            <span>Website Development</span>
          </li>
          <li>
            <i class="fal fa-server"></i>
            <span>Website Hosting</span>
          </li>
          <li>
            <i class="fab fa-connectdevelop"></i>
            <span>API consuming/development</span>
          </li>
          <li>
            <i class="fal fa-laptop"></i>
            <span>Landing Page design/development</span>
          </li>
          <li>
            <i class="fal fa-envelope-open"></i>
            <span>Email campaign marketing</span>
          </li>
        </ul>
      </div>

      <div class="quote-section">
        <blockquote>
          <h1><span>Andrew </span> - <a href="https://www.dulakphysicaltherapyandgolf.com/" target="_blank" rel="noopener">Dulak Physical Therapy and Golf</a></h1>
          <p>Brandon did an amazing job on my website! Super easy process. Brandon was in constant communication to make sure every detail of the website was correct. If you are a new company just getting established or a growing company and looking for a fresh new website definitely check out knapp development! Highly recommended.</p>
        </blockquote>
      </div>

    </div>

    <div class="process">
      <div class="container">
        <h2>Our process</h2>
        <p>Spend time on your business and not your website.</p>
        <ul>
          <li>
            <span>Initial meeting</span>
            <p>We dive into your business strategies for reaching your business goals.</p>
          </li>
          <li>
            <span>Design & Development</span>
            <p>We strategically design and develop websites that elevates your brand and communicates with customers effectively.</p>
          </li>
          <li>
            <span>Integrated Marketing</span>
            <p>We coordinate with you to continuously evolve your online presence.</p>
          </li>
          <li>
            <span>Hosting and Maintenance</span>
            <p>Save time and money. Avoid downtime and mis-communication, when working with multiple tech companies. </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="cta">
      <!--<div class="container">-->
        <!--<div class="successForm" *ngIf="successfulForm">-->
          <!--<h1>Thank you!</h1>-->
          <!--<p>Your form was submitted, someone will contact you in the next 24 hours.</p>-->
        <!--</div>-->
      <!--</div>-->

      <div class="container">
        <h2>LET’S WORK TOGETHER</h2>
        <p>We'd love to help with your project.</p>

        <div class="form">
          <form name="form" (ngSubmit)="f.form.valid && submitCTA(f.value)" #f="ngForm" novalidate>
            <fieldset ngModelGroup="ctaInformation">
              <div class="field is-horizontal">
                <div class="field-body">
                  <!-- Name -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="contactName" [(ngModel)]="model.contactName" #contactName="ngModel" [ngClass]="{'is-invalid': f.submitted && contactName.invalid}" required minlength="1" maxlength="75" placeholder="John smith"/>
                      <div *ngIf="f.submitted && contactName.invalid" class="invalid-feedback">
                        <div *ngIf="contactName.errors.required">
                          <p>Please enter a name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" email minlength="0" maxlength="50" required placeholder="johnsmith@website.com"/>
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Please enter an email</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <!-- company -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="contactCompany" [(ngModel)]="model.contactCompany" #contactCompany="ngModel" [ngClass]="{'is-invalid': f.submitted && contactCompany.invalid}" required minlength="1" maxlength="75" placeholder="company name"/>
                      <div *ngIf="f.submitted && contactCompany.invalid" class="invalid-feedback">
                        <div *ngIf="contactCompany.errors.required">
                          <p>Please enter a company name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Send -->
                  <div class="send">
                    <div class="field is-grouped-right is-grouped">
                      <p class="control">
                        <button class="button is-primary">SEND</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div class="pricing-section">
      <div class="container">
        <h2>Pricing</h2>
        <p>Choose the Right Website Plan for Your Business</p>

        <div class="pricing-area">
          <div class="pricing-table is-comparative">

            <div class="pricing-plan is-features">
              <div class="plan-header">&nbsp;</div>
              <div class="plan-price">
                <span class="plan-price-amount">&nbsp;</span>
                <span class="month-price" style="color: #ed2c5b;">
                <!--<span class="plan-price-currency">$</span>-->
                </span>&nbsp;</div>

              <div class="plan-items">
                <div class="plan-item" style="text-align: center; font-weight: bold;">
                  Website features
                </div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Custom, mobile-responsive website</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Number of pages</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Monthly hosting, support, and maintenance</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Custom landing pages</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Number of landing pages</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Content Management System integration</div>
              </div>

              <div class="plan-items">
                <div class="plan-item" style="text-align: center; font-weight: bold;">
                  Online marketing and SEO
                </div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">SEO optimization and monthly improvements</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Social media marketing</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Social media API implementation</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Email marketing campaigns</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Campaigns per month</div>
              </div>

              <div class="plan-items">
                <div class="plan-item" style="text-align: center; font-weight: bold;">
                  Support and Training
                </div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">SEO reports Monthly</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Monthly Website reports</div>
                <div class="plan-item" style="text-align: left; padding-left: 31px;">Monthly consultations</div>
              </div>

              <div class="plan-footer">

              </div>
            </div>

            <div class="pricing-plan">
              <div class="plan-header">Starter</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">$</span>
                  750
                </span>
                 plus 50 a month
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="Custom, mobile-responsive website">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Number of pages">
                  1-5
                </div>
                <div class="plan-item" data-feature="Monthly hosting, support, and maintenance">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Custom landing pages">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Number of landing pages">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Content Management System integration<">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO optimization and monthly improvements">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Social media marketing">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Social media API implementation">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Email marketing campaigns">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Campaigns per month">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO reports Monthly">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Monthly Website reports">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Monthly consultations">
                  <i class="far fa-minus"></i>
                </div>
              </div>
              <div class="plan-footer">
                <button class="button is-fullwidth" (click)="setPlan('starter');">Choose</button>
              </div>
            </div>

            <div class="pricing-plan">
              <div class="plan-header">Premium</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">$</span>
                  1000
                </span>
                plus 100 a month
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="Custom, mobile-responsive website">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Number of pages">
                  5-10
                </div>
                <div class="plan-item" data-feature="Monthly hosting, support, and maintenance">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Custom landing pages">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Number of landing pages">
                  1
                </div>
                <div class="plan-item" data-feature="Content Management System integration">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO optimization and monthly improvements">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Social media marketing">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Social media API implementation">
                  <i class="far fa-minus"></i>
                </div>
                <div class="plan-item" data-feature="Email marketing campaigns">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Campaigns per month">
                  1
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO reports Monthly">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Monthly Website reports">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Monthly consultations">
                  <i class="far fa-minus"></i>
                </div>
              </div>
              <div class="plan-footer">
                <button class="button is-fullwidth" (click)="setPlan('Premium');">Choose</button>
              </div>
            </div>

            <div class="pricing-plan">
              <div class="plan-header">Enterprise</div>
              <div class="plan-price">
                <span class="plan-price-amount">
                  <span class="plan-price-currency">$</span>
                  1500
                </span>
                plus 150 a month
              </div>
              <div class="plan-items">
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="Custom, mobile-responsive website">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Number of pages">
                  10+
                </div>
                <div class="plan-item" data-feature="Monthly hosting, support, and maintenance">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Custom landing pages">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Number of landing pages">
                  2
                </div>
                <div class="plan-item" data-feature="Content Management System integration">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO optimization and monthly improvements">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Social media marketing">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Social media API implementation">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Email marketing campaigns">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Campaigns per month">
                  2
                </div>
                <div class="plan-item">
                  &nbsp;
                </div>
                <div class="plan-item" data-feature="SEO reports Monthly">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Monthly Website reports">
                  <i class="fal fa-check-circle"></i>
                </div>
                <div class="plan-item" data-feature="Monthly consultations">
                  <i class="fal fa-check-circle"></i>
                </div>
              </div>
              <div class="plan-footer">
                <button class="button is-fullwidth" (click)="setPlan('Enterprise');">Choose</button>
              </div>
            </div>

          </div>
        </div>

        <div class="selected-plan" *ngIf="planSelected">
          <h3>You have selected the <b>{{plan}}</b> plan</h3>
          <p>Fill out the form below and we will contact you in the next 24hrs.</p>

          <form name="form" (ngSubmit)="f.form.valid && submitCTA(f.value)" #f="ngForm" novalidate>
            <fieldset ngModelGroup="ctaInformation">
              <div class="field is-horizontal">
                <div class="field-body">
                  <!-- Name -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="contactName" [(ngModel)]="model.contactName" #contactName="ngModel" [ngClass]="{'is-invalid': f.submitted && contactName.invalid}" required minlength="1" maxlength="75" placeholder="John smith"/>
                      <div *ngIf="f.submitted && contactName.invalid" class="invalid-feedback">
                        <div *ngIf="contactName.errors.required">
                          <p>Please enter a name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" email minlength="0" maxlength="50" required placeholder="johnsmith@website.com"/>
                      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Please enter an email</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <!-- company -->
                  <div class="field">
                    <div class="control">
                      <input type="text" class="form-control input" name="contactCompany" [(ngModel)]="model.contactCompany" #contactCompany="ngModel" [ngClass]="{'is-invalid': f.submitted && contactCompany.invalid}" required minlength="1" maxlength="75" placeholder="company name"/>
                      <div *ngIf="f.submitted && contactCompany.invalid" class="invalid-feedback">
                        <div *ngIf="contactCompany.errors.required">
                          <p>Please enter a company name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Send -->
                  <div class="send">
                    <div class="field is-grouped-right is-grouped">
                      <p class="control">
                        <button class="button is-primary">SEND</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
