<div class="works-page">
  <div class="hero">
    <div class="container">
      <span>Not just a Web development Company - we're dedicated to creating truly remarkable products.</span>
    </div>
  </div>

  <div class="works-content">
    <div class="container">

      <div class="work-slice" *ngFor="let project of randomProjects">


        <div class="work-image" *ngIf="project?.completed == true">
          <div class="image-content" [style.background-image]="'url('+project?.image+')'">
          </div>
        </div>

        <div class="work-image" *ngIf="project?.completed == false" style="opacity: .8; pointer-events: none; cursor: none;">
          <div class="image-content" [style.background-image]="'url('+project?.image+')'">
          </div>
        </div>

        <div class="work-content" *ngIf="project?.completed == true">
          <h1>{{project?.title}}</h1>
          <div *ngIf="project?.caseStudy === true ">
            <div class="case-study">Case Study</div>
          </div>
          <p>{{project?.description}}</p>
          <div class="view">
            <a *ngIf="project?.completed == true" [routerLink]="['/project/information']" [queryParams]="{id: project?.id}"><span>View Project</span></a>
          </div>
        </div>

        <div class="work-content" *ngIf="project?.completed == false" style="cursor: none; pointer-events: none; opacity: .8;">
          <h1>{{project?.title}}</h1>
          <p>{{project?.description}}</p>
          <div class="view">
            <a *ngIf="project?.completed == false"><span>Coming Soon</span></a>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
